{% extends "base.html" %}
{% load i18n allauth account crispy_forms_tags %}

{% block extra-title %}
    Password Reset
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center form-container bg-white mb-5">
    <div class="col-10 col-md-7">
        <h2 class="text-center mb-3">Password Reset</h2>
        <hr class="brand-break">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="text-center">
            We have sent you an email. If you have not received it please check your spam folder. Otherwise <a href="{% url 'contact' %}">contact us</a> if you do not receive it in a few minutes.
        </p>
    </div>
</div>
{% endblock content %}
