{% extends "base.html" %}
{% load i18n %}
{% block extra-title %}
Sign Up
{% endblock %}

{% block content %}
<h2 class="text-center mb-3">{% trans "Sign Up" %}</h2>
<p class="text-center">Register as a Host to list your properties or as a Guest to book your stay!</p>
<p class="text-center">{% blocktrans %}Already have an account? Click <a href="{{ login_url }}" class="inline-link">here</a> to login.{% endblocktrans %}</p>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Sign Up" %}</button>
</form>
{% endblock %}

