<script>
    document.addEventListener("DOMContentLoaded", function() {
        let ratingInput = document.getElementById('id_rating');
        let stars = document.querySelectorAll('.fa-star');

        // Set state of filled and empty stars
        function setStars(score) {
            stars.forEach(function(star) {
                star.classList.remove('fa-solid');
                star.classList.add('fa-regular');
                if (star.getAttribute('data-score') <= score) {
                    star.classList.remove('fa-regular');
                    star.classList.add('fa-solid');
                }
            });
        }

        // Set stars to empty initially
        setStars(0);

        // Update rating on click
        stars.forEach(function(star) {
            star.addEventListener('click', function() {
                var score = this.getAttribute('data-score');
                ratingInput.value = score;
                setStars(score);
            });
        });
    });
</script>
