<div class="row d-none d-md-flex text-center">
    {% for review in latest_reviews.all|slice:":4" %}
    <div class="col-12 col-md-6 col-xl-3 mb-4">
        <div class="card review-card">
            <div class="card-body">
                <h5>{{ review.guest.username }}</h5>
                <p>
                    <strong>Rating:</strong> 
                    {% for i in "12345" %}
                        <i class="fa {% if forloop.counter <= review.rating %}fa-solid fa-star{% else %}fa-regular fa-star{% endif %}"></i>
                    {% endfor %}
                </p>
                <p>{{ review.comment }}</p>
                <p>Hosted by: {{ review.host }}</p>
                <p><small>Reviewed on {{ review.created_at|date:"F j, Y" }}</small></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>