{% extends "base.html" %}
{% load static %}
{% block extra-title %}Checkout{% endblock %}
{% block extra-js %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'checkout/js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Checkout</h2>
    <div class="row">
        <div class="col-md-6">
            <form id="payment-form">
                <fieldset>
                    <legend>Address Details</legend>
                    {{ form.street_address1 }}
                    {{ form.street_address2 }}
                    {{ form.town_or_city }}
                    {{ form.county }}
                    {{ form.country }}
                    {{ form.postcode }}
                </fieldset>
                <fieldset>
                    <legend>Payment Details</legend>
                    <div id="payment-element">
                        <!-- Stripe.js injects the Payment Element -->
                    </div>
                </fieldset>
                <button id="submit">Pay Now</button>
                <div id="payment-message" class="hidden"></div>
            </form>
        </div>
        <div class="col-md-6">
            <h4>Booking Details</h4>
            {% for booking in bookings %}
            <div class="row">
                <div class="col-6">
                    <img src="{{ booking.property.images.first.image.url }}" class="img-fluid checkout-img" alt="{{ booking.property.title }}">
                </div>
                <div class="col-6">
                    <h5>{{ booking.property.title }}</h5>
                    <p>Check-in: {{ booking.checkin }}</p>
                    <p>Check-out: {{ booking.checkout }}</p>
                    <p>Price per night: £{{ booking.property.price_per_night }}</p>
                    <p>Total nights: {{ booking.total_nights }}</p>
                    <hr>
                    <p><strong>Subtotal: £{{ booking.total_price|floatformat:2 }}</strong></p>
                </div>
            </div>
            {% endfor %}
            <hr>
            <h5>Grand Total: £{{ total_price|floatformat:2 }}</h5>
        </div>
    </div>
</div>
{% endblock %}
