<!-- Button to Open the Modal -->
<div class="d-flex justify-content-center">
    <button type="button" class="btn brand-btn mb-3" data-toggle="modal" data-target="#filterModal">
        Show Filters
    </button>
</div>

<!-- The Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter Properties</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="get" id="filter-form-id">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">City:</label>
                                <select name="city" id="city" class="form-control">
                                    <option value="">All Cities</option>
                                    <option value="London" {% if selected_city == 'London' %}selected{% endif %}>London</option>
                                    <option value="Brighton" {% if selected_city == 'Brighton' %}selected{% endif %}>Brighton</option>
                                    <option value="Manchester" {% if selected_city == 'Manchester' %}selected{% endif %}>Manchester</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="bedrooms">Bedrooms:</label>
                                <select name="bedrooms" id="bedrooms" class="form-control">
                                    <option value="">All</option>
                                    <option value="1" {% if selected_bedrooms == '1' %}selected{% endif %}>1+</option>
                                    <option value="2" {% if selected_bedrooms == '2' %}selected{% endif %}>2+</option>
                                    <option value="3" {% if selected_bedrooms == '3' %}selected{% endif %}>3+</option>
                                    <option value="4" {% if selected_bedrooms == '4' %}selected{% endif %}>4+</option>
                                    <option value="5" {% if selected_bedrooms == '5' %}selected{% endif %}>5+</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="bathrooms">Bathrooms:</label>
                                <select name="bathrooms" id="bathrooms" class="form-control">
                                    <option value="">All</option>
                                    <option value="1" {% if selected_bathrooms == '1' %}selected{% endif %}>1+</option>
                                    <option value="2" {% if selected_bathrooms == '2' %}selected{% endif %}>2+</option>
                                    <option value="3" {% if selected_bathrooms == '3' %}selected{% endif %}>3+</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="price">Price per Night:</label>
                                <select name="price" id="price" class="form-control">
                                    <option value="">All Prices</option>
                                    <option value="0-24.99" {% if selected_price == '0-24.99' %}selected{% endif %}>£0.00-£24.99</option>
                                    <option value="25-39.99" {% if selected_price == '25-39.99' %}selected{% endif %}>£25.00-£39.99</option>
                                    <option value="40-74.99" {% if selected_price == '40-74.99' %}selected{% endif %}>£40.00-£74.99</option>
                                    <option value="75" {% if selected_price == '75' %}selected{% endif %}>£75+</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pet_friendly">Pet Friendly:</label>
                                <input type="checkbox" name="pet_friendly" id="pet_friendly" class="form-control" {% if selected_pet_friendly %}checked{% endif %}>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="amenities">Amenities:</label>
                                <div class="form-check">
                                    {% for amenity in amenities %}
                                    <div class="col-6 col-md-4">
                                        <input class="form-check-input" type="checkbox" name="amenities" value="{{ amenity.id }}" id="amenity{{ amenity.id }}" {% if amenity.id|stringformat:"s" in selected_amenities %}checked{% endif %}>
                                        <label class="form-check-label" for="amenity{{ amenity.id }}">{{ amenity.name }}</label>
                                    </div>
                                    {% if forloop.counter == 8 %}
                                    <div id="more-amenities" style="display: none;">
                                    {% endif %}
                                    {% endfor %}
                                    </div>
                                    {% if amenities|length > 8 %}
                                    <button type="button" class="btn btn-link" id="show-more-amenities">Show more</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <button type="submit" class="btn brand-btn">Filter</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="{% url 'all_properties' %}" class="btn btn-secondary">Clear Filters</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
