<div class="pagination d-flex justify-content-center mb-5">
    <span class="step-links">
        {% if properties.has_previous %}
            <a href="?page=1"><i class="icon fa-solid fa-angles-left"></i></a>
            <a href="?page={{ properties.previous_page_number }}"><i class="icon fa-solid fa-angle-left"></i></a>
        {% endif %}

        <span class="current page-pill">
            Page {% if results and results.paginator.num_pages > 1 %}
                {{ results.number }} of {{ results.paginator.num_pages }}
            {% else %}
                1
            {% endif %}
        </span>

        {% if properties.has_next %}
            <a href="?page={{ properties.next_page_number }}"><i class="icon fa-solid fa-angle-right ml-2"></i></a>
            <a href="?page={{ properties.paginator.num_pages }}"><i class="icon fa-solid fa-angles-right"></i></a>
        {% endif %}
    </span>
</div>