body {
    background: url('/media/hero-main.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ---text styling--- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

a {
    color: #008080;
}

a:hover,
a:active,
a:focus {
    color: #004747;
}

.logo-font {
    font-family: "Playwrite ES Deco", cursive !important;
    font-optical-sizing: auto;
    font-style: normal;
    color: #008080 !important;
}

.brand-color {
    color: #008080 !important;
}

.user-action {
    color: #008080;
}

.user-action:hover,
.user-action:active,
.user-action:focus {
    color: #004747 !important;
}

.pagination { 
    font-size: 1.3rem;
}

.page-pill {
    border: 0.2rem solid #008080;
    color: #008080;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
}

/* ---lines--- */

.brand-break {
    border: none;
    height: 3px;
    border-radius: 6px;
    background-color: #008080;
    width: 10rem;
}

.footer-hr {
    height: 1px !important;
    width: 90% !important;
}
/* --BOOTSTRAP OVERRIDES--- */
.navbar-light .navbar-toggler {
    border: none;
}

/* ---titles--- */
.block-title {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* ---icons--- */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ---buttons--- */

.brand-btn {
    background: #004747;
    color: #fff;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
}

.brand-btn:active,
.brand-btn:hover,
.brand-btn:focus {
    background: #008080;
    color: #fff;
}


/* ---forms--- */

.form-container {
    height: 100vh;
}

/* ---hero--- */
.hero-banner {
    background-image: url("{% media 'hero-main.jpg' %}");
    margin: 10rem 2rem;
}

/* ------ PROPERTIES ------ */

.property-page {
    background: white;
}

.properties-container {
    width: 80%;
}


/* ---property card--- */

.card {
    border: none;
}

.card-body { 
    padding: 1.25rem 0 .25rem 0 !important;
    background: none;
    border: none;
}

.card-footer { 
    padding: 0 0 1rem 0 !important;
    background-color: white;
    border: none !important;
}

/* ---image carousel--- */
/* some help found here - https://stackoverflow.com/questions/23400232/force-bootstrap-responsive-image-to-be-square */
.carousel-inner {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

/* ---filters--- */

.filter-btn {
    border-radius: 10rem;
    padding: 0.4rem 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem !important;
}

.amenities-dropdown .dropdown-item {
    display: flex;
    align-items: center;
}

.amenities-dropdown .form-check-input {
    margin-right: 10px;
}

/* ---filter modal--- */

.modal-content { 
    border-radius: 1rem !important;
    padding: 1rem !important;
}

/* ---FOOTER--- */

.social-links {
    font-size: 2rem; 
}
/* ---MEDIA QUERIES--- */


@media screen and (max-width: 1200px) {

    .featured-properties {
      padding: 0 2rem;
    }
  
  }