body {
    background: url('/media/hero-main.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

/* ---text styling--- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

a {
    color: #008080;
}

a:hover,
a:active,
a:focus {
    color: #004747;
}

.logo-font {
    font-family: "Playwrite ES Deco", cursive !important;
    font-optical-sizing: auto;
    font-style: normal;
    color: #008080 !important;
}

.brand-color {
    color: #008080 !important;
}

.user-action {
    color: #008080;
}

.user-action:hover,
.user-action:active,
.user-action:focus {
    color: #004747 !important;
}

/* --BOOTSTRAP OVERRIDES--- */
.navbar-light .navbar-toggler {
    border: none;
}
/* ---icons--- */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ---buttons--- */

.brand-btn {
    background: #004747;
    color: #fff;
}

.brand-btn:active,
.brand-btn:hover,
.brand-btn:focus {
    background: #008080;
    color: #fff;
}

/* ---forms--- */

.form-container {
    height: 100vh;
}

/* ---hero--- */
.hero-banner {
    background-image: url("{% media 'hero-main.jpg' %}");
}
