body {
    background: url('/media/hero-main.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ---text styling--- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

a {
    color: #008080;
}

a:hover,
a:active,
a:focus {
    color: #004747;
}

.logo-font {
    font-family: "Playwrite ES Deco", cursive !important;
    font-optical-sizing: auto;
    font-style: normal;
    color: #008080 !important;
}

.brand-color {
    color: #008080 !important;
}

.user-action {
    color: #008080;
}

.user-action:hover,
.user-action:active,
.user-action:focus {
    color: #004747 !important;
}

.pagination { 
    font-size: 1.2rem;
    margin-top: 1rem;
}

.page-pill {
    border: 0.15rem solid #008080;
    color: #008080;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
}

/* ---lines--- */

.brand-break {
    border: none;
    height: 3px;
    border-radius: 6px;
    background-color: #008080;
    width: 10rem;
}

.footer-hr {
    height: 1px !important;
    width: 90% !important;
}

/* ---MESSAGES--- */

.alert-info {
    background-color: rgba(0, 128, 128, 0.5) !important;
    width: 50% !important;
    margin: 2rem auto !important;
    border-radius: 2rem !important;
}


/* --BOOTSTRAP OVERRIDES--- */
.navbar-light .navbar-toggler {
    border: none;
}

/* ---titles--- */
.block-title {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* ---icons--- */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ---buttons--- */

.brand-btn {
    background: #004747;
    color: #fff;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
}

.brand-btn:active,
.brand-btn:hover,
.brand-btn:focus {
    background: #008080;
    color: #fff;
}


/* ---forms--- */

.form-container {
    height: 100vh;
}

/* ---hero--- */
.hero-banner {
    background-image: url("{% media 'hero-main.jpg' %}");
    margin: 10rem 2rem;
}

/* ------ PROPERTIES ------ */

.property-page {
    background: white;
}

.properties-container {
    width: 80%;
}


/* ---property card--- */

.card {
    border: none;
}

.card-body { 
    padding: 1.25rem 0 .25rem 0 !important;
    background: none;
    border: none;
}

.card-footer { 
    padding: 0 0 1rem 0 !important;
    background-color: white;
    border: none !important;
}

/* ---property-details--- */
.detail-container {
    width: 80%;
    margin: auto;
}

.amenities-list {
    padding: 0;
}

.amenities-list li {
    list-style: none;
}

.bb-icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: #008080;
}

.bb-text {
    font-size: 1.5rem;
}

.am-icon {
    font-size: 1.3rem;
    color: #008080;
}
/* ---image carousel--- */
/* some help found here - https://stackoverflow.com/questions/23400232/force-bootstrap-responsive-image-to-be-square */
.carousel-inner {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

/* ---details carousel--- */
.thumbnail-img {
    width: 100%;
    height: auto; /* Ensures the image maintains its aspect ratio */
    max-height: 100px; /* Uniform height for all thumbnails */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    border-radius: 1rem;
    border: none;
}


/* ---filters--- */

.filter-btn {
    border-radius: 10rem;
    padding: 0.4rem 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem !important;
}

/* ---filter modal--- */

.modal-content { 
    border-radius: 1rem !important;
    padding: 1rem !important;
}

/* ---HOME PAGE--- */
.become-host-container {
    background: rgba(255,255,255,0.7);
    padding: 2rem 0 5rem 0;
}

.become-host-text {
    font-size: 1.3rem;
    width: 60%;
}

/* ---PROFILES--- */

.profile-container { 
    padding: 3rem 0 10rem;
    background: rgba(255,255,255,0.5);
}

/* ---profile card overrides--- */

.profile-card {
    box-shadow: -3px 2px 5px rgba(50,50,50,0.3);
    border-radius: 1rem !important;
}

.profile-card-body {
    padding: 1.25rem 1.25rem 0 1.25rem !important;
}

.profile-card-header {
    border-radius: 1rem 1rem 0 0 !important;
}

.profile-card-footer {
    border-radius: 0 0 1rem 1rem !important;
}

.edit-profile-body { 
    padding: 1.5rem !important;
}

/* ---CONTACT--- */
.contact-container {
    width: 60%;
    margin: auto;
    margin-top: 3rem;
    padding-bottom: 10rem;
}
/* ---FOOTER--- */

.social-links {
    font-size: 2rem; 
}


/* ---MEDIA QUERIES--- */


@media screen and (max-width: 1200px) {

    .featured-properties {
      padding: 0 2rem;
    }
  
}

@media (max-width: 996px) {
    .alert-info {
        width: 80% !important;
        margin: 2rem auto !important;
        border-radius: 2rem !important;
    }
}