{% extends "base.html" %}
{% load static %}
{% block extra-title %}
My Bookings
{% endblock %}

{% block content %}
<div class="container bookings-container">
    <div class="container-fluid">
        <h1>My Bookings</h1>

        <h2 class="mt-4">Upcoming Stays</h2>
        {% if upcoming_bookings %}
        <div class="booking-table">
            <div class="d-lg-none">
                {% include 'includes/my-booking-mob.html' with bookings=upcoming_bookings %}
            </div>
            <div class="d-none d-lg-block">
                {% include 'includes/my-booking-lg.html' with bookings=upcoming_bookings %}
            </div>
        </div>
        {% else %}
        <p>No upcoming bookings. <a href="{% url 'all_properties' %}">Book Now!</a></p>
        {% endif %}

        <h2 class="mt-4">Your Previous Stays</h2>
        {% if past_bookings %}
        <div class="booking-table">
            <div class="d-lg-none">
                {% include 'includes/my-booking-mob.html' with bookings=past_bookings review_button=True %}
            </div>
            <div class="d-none d-lg-block">
                {% include 'includes/my-booking-lg.html' with bookings=past_bookings review_button=True %}
            </div>
        </div>
        {% else %}
        <p>No past bookings.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

