<table class="table">
    <thead>
        <tr>
            <th>Property</th>
            <th>Check-in</th>
            <th>Check-out</th>
            <th>Guests</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in upcoming_bookings %}
        <tr>
            <td>{{ booking.property.title }}</td>
            <td>{{ booking.checkin }}</td>
            <td>{{ booking.checkout }}</td>
            <td>{{ booking.guests }}</td>
            <td>£{{ booking.total_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>