{% extends 'base.html' %}
{% load static %}
{% block extra-title %}All Properties{% endblock %}

{% block content %}

<div class="property-page">

<div class="page-title">
    <h1 class="text-center">All Properties</h1>
    <hr class="brand-break">
</div>


{% include 'properties/includes/filter_modal.html' %}

<div class="d-flex justify-content-center">
    <div class="properties-container">
        <div class="row">
            {% for property in properties %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    {% include 'properties/includes/image-carousel.html' %}
                    <div class="card-body">
                        <h5 class="card-title">{{ property.title }}</h5>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">£{{ property.price_per_night }} per night</p>
                        <a href="{% url 'property_detail' property.id %}" class="btn brand-btn">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="pagination d-flex justify-content-center mb-5">
    <span class="step-links">
        {% if properties.has_previous %}
            <a href="?page=1"><i class="icon fa-solid fa-angles-left"></i></a>
            <a href="?page={{ properties.previous_page_number }}"><i class="icon fa-solid fa-angle-left"></i></a>
        {% endif %}

        <span class="current page-pill">
            Page {% if results and results.paginator.num_pages > 1 %}
                {{ results.number }} of {{ results.paginator.num_pages }}
            {% else %}
                1
            {% endif %}
        </span>

        {% if properties.has_next %}
            <a href="?page={{ properties.next_page_number }}"><i class="icon fa-solid fa-angle-right ml-2"></i></a>
            <a href="?page={{ properties.paginator.num_pages }}"><i class="icon fa-solid fa-angles-right"></i></a>
        {% endif %}
    </span>
</div>
</div>
<script src="{% static 'js/properties/properties.js' %}"></script>
{% endblock %}
