{% extends 'base.html' %}
{% load static %}
{% block extra-title %}Manage Properties{% endblock %}

{% block content %}

<div class="property-page">

<div class="page-title">
    <h1 class="text-center">Manage Properties</h1>
    <hr class="brand-break">
</div>

<div class="d-flex justify-content-center">
    <div class="properties-container">
        <div class="row">
            {% for property in properties %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    {% include 'properties/includes/image-carousel.html' %}
                    <div class="card-body">
                        <h5 class="card-title">{{ property.title }}</h5>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">£{{ property.price_per_night }} per night</p>
                        <a href="{% url 'superuser_edit_property' property.id %}" class="btn brand-btn">Edit Property</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'properties/includes/pagination.html' %}
</div>
<script src="{% static 'js/properties/properties.js' %}"></script>
{% endblock %}
