{% extends "base.html" %}
{% load static %}
{% block extra-title %}
My Profile
{% endblock %}
{% block content %}
<div class="container-fluid profile-container">
    <div class="row container-fluid justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center my-4">My Profile</h2>
            <hr class="brand-break">
            <div class="card profile-card">
                <div class="card-header profile-card-header">
                    <h4>{{ profile.user.username }}</h4>
                </div>
                <div class="card-body profile-card-body">
                    <div class="row">
                        <div class="col-3">
                            {% if profile.profile_picture %}
                            <p><img src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }} Profile Picture" class="img-fluid rounded-circle"></p>
                            {% else %}
                            <p><img src="{{ MEDIA_URL }}no-profile-pic.jpg" alt="No Profile Picture" class="img-fluid rounded-circle"></p>
                            {% endif %}
                            <p class="d-none d-lg-block"><strong>{% if profile.user.user_type == 'Host' %}Host {% else %}Guest {% endif %} since:</strong> {{ profile.join_date }}</p>
                        </div>
                        <div class="col-7 offset-1">
                            <p><strong>Full Name:</strong> {{ profile.first_name }} {{ profile.last_name}} </p>
                            <p><strong>Email:</strong> {{ profile.user.email }}</p>  
                            <p class="d-none d-lg-block"><strong>Address:</strong> {{ profile.address_1 }}, {{ profile.address_2 }}, {{ profile.city }}, {{ profile.state }}, {{ profile.postal_code }}</p>    
                            <p class="d-none d-lg-block"><strong>Bio:</strong> {{ profile.bio }}</p>
                            <p class="d-block d-lg-none"><strong>{% if profile.user.user_type == 'Host' %}Host {% else %}Guest {% endif %} since:</strong> {{ profile.join_date }}</p>
                            </div>
                    </div>
                    <div class="row d-block d-lg-none mb-4">
                        <div class="col-12">
                            <p><strong>Address:</strong> {{ profile.address_1 }}, {{ profile.address_2 }}, {{ profile.city }}, {{ profile.state }}, {{ profile.postal_code }}, {{ profile.country }}</p>    
                            <p><strong>Bio:</strong> {{ profile.bio }}</p>
                            <p class="d-none d-lg-block"><strong>{% if profile.user.user_type == 'host' %}Host {% else %}Guest {% endif %} since:</strong> {{ profile.join_date }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer profile-card-footer text-center mb-4">
                    <a href="{% url 'profile_edit' %}" class="brand-btn btn">Edit Profile</a>
                    <a href="{% url 'address_edit' %}" class="btn page-pill">Edit Address</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
