{% extends "base.html" %}
{% load static %}
{% block extra-title %}
My Profile
{% endblock %}
{% block content %}
<div class="container-fluid profile-container">
        <div class="col-12 col-sm-10 col-md-8 profile-inner">
            <h2 class="text-center my-4">My Profile</h2>
            <hr class="brand-break">
            <div class="card profile-card">
                <div class="card-header profile-card-header">
                    <h4>{{ profile.user.username }}</h4>
                </div>
                <div class="card-body profile-card-body">
                    <div class="d-flex d-lg-none">
                        {% include 'includes/mobile-profile.html' %}
                    </div>
                    <div class="d-none d-lg-flex">
                        {% include 'includes/lg-profile.html' %}
                    </div>
                </div>
                <div class="card-footer profile-card-footer text-center mb-4">
                    <a href="{% url 'profile_edit' %}" class="brand-btn btn">Edit Profile</a>
                    <a href="{% url 'address_edit' %}" class="btn page-pill">Edit Address</a>
                </div>
            </div>
        </div>
</div>
{% endblock %}
