{% extends "base.html" %}
{% load static %}
{% block extra-title %}
My Profile
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center my-4">My Profile</h2>
            <div class="card">
                <div class="card-header">
                    <h4>{{ profile.user.username }}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            {% if profile.profile_picture %}
                            <p><img src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }} Profile Picture" class="img-fluid rounded-circle"></p>
                            {% else %}
                            <p><img src="{{ MEDIA_URL }}no-profile-pic.jpg" alt="No Profile Picture" class="img-fluid rounded-circle"></p>
                            {% endif %}
                            <p class="d-none d-lg-block"><strong>{% if profile.user.user_type == 'Host' %}Host {% else %}Guest {% endif %} since:</strong> {{ profile.join_date }}</p>
                        </div>
                        <div class="col-7 offset-1">
                            <p><strong>Full Name:</strong> {{ profile.user.get_full_name }}</p>
                            <p><strong>Email:</strong> {{ profile.user.email }}</p>      
                            <p class="d-none d-lg-block"><strong>Bio:</strong> {{ profile.bio }}</p>
                            </div>
                    </div>
                    <div class="row d-block d-lg-none">
                        <div class="col-12">
                            <p><strong>Bio:</strong> {{ profile.bio }}</p>
                            <p class="d-block d-lg-none"><strong>{% if profile.user.user_type == 'Host' %}Host {% else %}Guest {% endif %} since:</strong> {{ profile.join_date }}</p>
                        
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'profile_edit' %}" class="brand-btn btn">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
