/* STRIPE CSS */

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #ced4da;
    background-color: #f2f2f2;
    border-radius: 25px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.StripeElement--focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

select,
select option {
    color: #495057;
}

select:invalid,
select option[value=""] {
    color: #6c757d !important;
}

.page-container {
    background: white;
    height: 100%;
}

.checkout-container {
    padding: 2rem 4rem;
    margin-bottom: 3rem;
    border-radius: 2rem;
    background: white !important;
}
